infra/workflows/initialize_nova.asl.json
{
    "Comment": "initialize_nova — Name-only front door for establishing a nova in Nova Cat. See workflow spec: initialize-nova.md",
    "StartAt": "ValidateInput",
    "States": {
        "ValidateInput": {
            "Type": "Pass",
            "Comment": "Structural validation only. Schema-level validation is enforced at the boundary event layer (Pydantic). This state exists as an explicit hook for future ASL-level checks.",
            "Next": "EnsureCorrelationId"
        },
        "EnsureCorrelationId": {
            "Type": "Choice",
            "Comment": "Generate a correlation_id if the caller did not supply one. Per execution-governance.md, all workflows must propagate a correlation_id.",
            "Choices": [
                {
                    "Variable": "$.correlation_id",
                    "IsPresent": true,
                    "Next": "BeginJobRun"
                }
            ],
            "Default": "GenerateCorrelationId"
        },
        "GenerateCorrelationId": {
            "Type": "Pass",
            "Comment": "Inject null placeholder so $.correlation_id is always defined when BeginJobRun Parameters are evaluated.",
            "Result": null,
            "ResultPath": "$.correlation_id",
            "Next": "BeginJobRun"
        },
        "BeginJobRun": {
            "Type": "Task",
            "Comment": "Emit JobRun STARTED record. Returns job_run_id and confirmed correlation_id (generated if missing).",
            "Resource": "${BeginJobRunFunctionArn}",
            "Parameters": {
                "task_name": "BeginJobRun",
                "workflow_name": "initialize_nova",
                "candidate_name.$": "$.candidate_name",
                "correlation_id.$": "$.correlation_id",
                "source.$": "$.source"
            },
            "ResultPath": "$.job_run",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "BeginJobRunFailed",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "NormalizeCandidateName"
        },
        "BeginJobRunFailed": {
            "Type": "Fail",
            "Error": "BeginJobRunFailed",
            "Cause": "Fatal error before JobRun record was established. No finalization possible."
        },
        "NormalizeCandidateName": {
            "Type": "Task",
            "Comment": "Normalize candidate name to a canonical form for dedup and lookup.",
            "Resource": "${NormalizeCandidateNameFunctionArn}",
            "Parameters": {
                "task_name": "NormalizeCandidateName",
                "workflow_name": "initialize_nova",
                "candidate_name.$": "$.candidate_name",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.normalization",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 2,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "CheckExistingNovaByName"
        },
        "CheckExistingNovaByName": {
            "Type": "Task",
            "Comment": "Query NameMapping items for normalized_candidate_name. Returns exists=true/false and nova_id if found.",
            "Resource": "${CheckExistingNovaByNameFunctionArn}",
            "Parameters": {
                "task_name": "CheckExistingNovaByName",
                "workflow_name": "initialize_nova",
                "normalized_candidate_name.$": "$.normalization.normalized_candidate_name",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.name_check",
            "TimeoutSeconds": 20,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "ExistsInDB"
        },
        "ExistsInDB": {
            "Type": "Choice",
            "Comment": "Short-circuit: if the name already resolves to a known nova_id, skip archive resolution and lock acquisition — launch ingest_new_nova immediately.",
            "Choices": [
                {
                    "Variable": "$.name_check.exists",
                    "BooleanEquals": true,
                    "Next": "PublishIngestNewNova_Exists"
                }
            ],
            "Default": "AcquireIdempotencyLock"
        },
        "PublishIngestNewNova_Exists": {
            "Type": "Task",
            "Comment": "Name already known — launch ingest_new_nova with the existing nova_id. Outcome: EXISTS_AND_LAUNCHED.",
            "Resource": "${PublishIngestNewNovaFunctionArn}",
            "Parameters": {
                "task_name": "PublishIngestNewNova",
                "workflow_name": "initialize_nova",
                "outcome": "EXISTS_AND_LAUNCHED",
                "nova_id.$": "$.name_check.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.launch",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 2,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "FinalizeJobRunSuccess_Exists"
        },
        "FinalizeJobRunSuccess_Exists": {
            "Type": "Task",
            "Comment": "Emit JobRun SUCCEEDED with outcome EXISTS_AND_LAUNCHED.",
            "Resource": "${FinalizeJobRunSuccessFunctionArn}",
            "Parameters": {
                "task_name": "FinalizeJobRunSuccess",
                "workflow_name": "initialize_nova",
                "outcome": "EXISTS_AND_LAUNCHED",
                "nova_id.$": "$.name_check.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "job_run.$": "$.job_run"
            },
            "ResultPath": "$.finalize",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        },
        "AcquireIdempotencyLock": {
            "Type": "Task",
            "Comment": "Acquire workflow-level idempotency lock. Only reached for new (unseen) candidate names. Prevents concurrent executions from creating duplicate nova records.",
            "Resource": "${AcquireIdempotencyLockFunctionArn}",
            "Parameters": {
                "task_name": "AcquireIdempotencyLock",
                "workflow_name": "initialize_nova",
                "primary_id.$": "$.normalization.normalized_candidate_name",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.idempotency",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "ResolveCandidateAgainstPublicArchives"
        },
        "ResolveCandidateAgainstPublicArchives": {
            "Type": "Task",
            "Comment": "Query SIMBAD and TNS. Returns: is_nova (bool), coordinates (RA/Dec/epoch), resolver_source, aliases.",
            "Resource": "${ResolveCandidateAgainstPublicArchivesFunctionArn}",
            "Parameters": {
                "task_name": "ResolveCandidateAgainstPublicArchives",
                "workflow_name": "initialize_nova",
                "candidate_name.$": "$.candidate_name",
                "normalized_candidate_name.$": "$.normalization.normalized_candidate_name",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.resolution",
            "TimeoutSeconds": 60,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "CandidateIsNova"
        },
        "CandidateIsNova": {
            "Type": "Choice",
            "Comment": "Is this object a nova? If not, terminal success with NOT_FOUND. Both classical and recurrent novae proceed to CreateNovaId.",
            "Choices": [
                {
                    "Variable": "$.resolution.is_nova",
                    "BooleanEquals": false,
                    "Next": "FinalizeJobRunSuccess_NotFound"
                }
            ],
            "Default": "CreateNovaId"
        },
        "FinalizeJobRunSuccess_NotFound": {
            "Type": "Task",
            "Comment": "Candidate is not a nova. Terminal success — no downstream workflow launched. Outcome: NOT_FOUND.",
            "Resource": "${FinalizeJobRunSuccessFunctionArn}",
            "Parameters": {
                "task_name": "FinalizeJobRunSuccess",
                "workflow_name": "initialize_nova",
                "outcome": "NOT_FOUND",
                "candidate_name.$": "$.candidate_name",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "job_run.$": "$.job_run"
            },
            "ResultPath": "$.finalize",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        },
        "CreateNovaId": {
            "Type": "Task",
            "Comment": "Generate a new stable nova_id (UUID v4). Persists the nova record stub.",
            "Resource": "${CreateNovaIdFunctionArn}",
            "Parameters": {
                "task_name": "CreateNovaId",
                "workflow_name": "initialize_nova",
                "candidate_name.$": "$.candidate_name",
                "normalized_candidate_name.$": "$.normalization.normalized_candidate_name",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.nova_creation",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "UpsertMinimalNovaMetadata"
        },
        "UpsertMinimalNovaMetadata": {
            "Type": "Task",
            "Comment": "Persist minimal nova metadata: nova_id, candidate_name, resolved coordinates, resolver_source, aliases.",
            "Resource": "${UpsertMinimalNovaMetadataFunctionArn}",
            "Parameters": {
                "task_name": "UpsertMinimalNovaMetadata",
                "workflow_name": "initialize_nova",
                "nova_id.$": "$.nova_creation.nova_id",
                "candidate_name.$": "$.candidate_name",
                "normalized_candidate_name.$": "$.normalization.normalized_candidate_name",
                "resolved_ra.$": "$.resolution.resolved_ra",
                "resolved_dec.$": "$.resolution.resolved_dec",
                "resolved_epoch.$": "$.resolution.resolved_epoch",
                "resolver_source.$": "$.resolution.resolver_source",
                "aliases.$": "$.resolution.aliases",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.upsert",
            "TimeoutSeconds": 30,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "PublishIngestNewNova_Created"
        },
        "PublishIngestNewNova_Created": {
            "Type": "Task",
            "Comment": "New nova created — launch ingest_new_nova with the freshly assigned nova_id. Outcome: CREATED_AND_LAUNCHED.",
            "Resource": "${PublishIngestNewNovaFunctionArn}",
            "Parameters": {
                "task_name": "PublishIngestNewNova",
                "workflow_name": "initialize_nova",
                "outcome": "CREATED_AND_LAUNCHED",
                "nova_id.$": "$.nova_creation.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.launch",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 2,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "FinalizeJobRunSuccess_Created"
        },
        "FinalizeJobRunSuccess_Created": {
            "Type": "Task",
            "Comment": "Emit JobRun SUCCEEDED with outcome CREATED_AND_LAUNCHED.",
            "Resource": "${FinalizeJobRunSuccessFunctionArn}",
            "Parameters": {
                "task_name": "FinalizeJobRunSuccess",
                "workflow_name": "initialize_nova",
                "outcome": "CREATED_AND_LAUNCHED",
                "nova_id.$": "$.nova_creation.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "job_run.$": "$.job_run"
            },
            "ResultPath": "$.finalize",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        },
        "TerminalFailHandler": {
            "Type": "Task",
            "Comment": "Classifies the error and persists error_classification + error_fingerprint onto the JobRun before the final FAILED status is written.",
            "Resource": "${JobRunManagerFunctionArn}",
            "Parameters": {
                "task_name": "TerminalFailHandler",
                "workflow_name": "initialize_nova",
                "error.$": "$.error",
                "candidate_name.$": "$.candidate_name",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "job_run.$": "$.job_run"
            },
            "ResultPath": "$.terminal_fail",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FinalizeJobRunFailed",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "FinalizeJobRunFailed"
        },
        "FinalizeJobRunFailed": {
            "Type": "Task",
            "Comment": "Emit JobRun FAILED. Terminal state for all unrecoverable failure paths.",
            "Resource": "${FinalizeJobRunFailedFunctionArn}",
            "Parameters": {
                "task_name": "FinalizeJobRunFailed",
                "workflow_name": "initialize_nova",
                "candidate_name.$": "$.candidate_name",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "job_run.$": "$.job_run"
            },
            "ResultPath": "$.finalize",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        }
    }
}
