infra/workflows/refresh_references.asl.json
{
    "Comment": "refresh_references workflow — fetches ADS references for a nova, upserts global Reference entities, links them via NovaReference, and computes discovery_date.",
    "StartAt": "BeginJobRun",
    "States": {
        "BeginJobRun": {
            "Type": "Task",
            "Resource": "${BeginJobRunFunctionArn}",
            "Parameters": {
                "task_name": "BeginJobRun",
                "workflow_name": "refresh_references",
                "nova_id.$": "$.nova_id",
                "correlation_id.$": "$.correlation_id"
            },
            "ResultPath": "$.job_run",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError",
                        "Lambda.TooManyRequestsException",
                        "Lambda.ServiceException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "AcquireIdempotencyLock"
        },
        "AcquireIdempotencyLock": {
            "Type": "Task",
            "Comment": "Acquire workflow-level idempotency lock. Key: refresh_references:{nova_id}:{schema_version}:{time_bucket}.",
            "Resource": "${AcquireIdempotencyLockFunctionArn}",
            "Parameters": {
                "task_name": "AcquireIdempotencyLock",
                "workflow_name": "refresh_references",
                "primary_id.$": "$.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.idempotency",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError",
                        "Lambda.TooManyRequestsException",
                        "Lambda.ServiceException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "EnsureAttributes"
        },
        "EnsureAttributes": {
            "Type": "Choice",
            "Comment": "Guard for the optional $.attributes field. FetchAndReconcileReferences uses a hard JSONPath reference (\"attributes.$\": \"$.attributes\") which throws States.Runtime if the field is absent. When refresh_references is launched by workflow_launcher (the normal path), no attributes field is present — only operator-triggered re-runs include it. This Choice + Pass pair guarantees $.attributes exists before FetchAndReconcileReferences runs.",
            "Choices": [
                {
                    "Variable": "$.attributes",
                    "IsPresent": true,
                    "Next": "FetchAndReconcileReferences"
                }
            ],
            "Default": "DefaultAttributes"
        },
        "DefaultAttributes": {
            "Type": "Pass",
            "Comment": "Inject an empty attributes dict so FetchAndReconcileReferences can safely dereference $.attributes.",
            "Result": {},
            "ResultPath": "$.attributes",
            "Next": "FetchAndReconcileReferences"
        },
        "FetchAndReconcileReferences": {
            "Type": "Task",
            "Comment": "Load nova aliases, query ADS, then for each candidate: normalize, upsert Reference entity, link NovaReference. Per-item failures are quarantined inside the Lambda. Returns a lightweight summary (counts + quarantined bibcodes). The full candidate list never transits through SFn state.",
            "Resource": "${ReferenceManagerFunctionArn}",
            "Parameters": {
                "task_name": "FetchAndReconcileReferences",
                "workflow_name": "refresh_references",
                "nova_id.$": "$.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "job_run.$": "$.job_run",
                "attributes.$": "$.attributes"
            },
            "ResultPath": "$.reconcile_summary",
            "TimeoutSeconds": 180,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError",
                        "Lambda.TooManyRequestsException",
                        "Lambda.ServiceException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "ComputeDiscoveryDate"
        },
        "ComputeDiscoveryDate": {
            "Type": "Task",
            "Comment": "Query all NOVAREF links, batch-fetch publication_dates, return earliest bibcode+date. Tiebreaker: lexicographically smallest bibcode.",
            "Resource": "${ReferenceManagerFunctionArn}",
            "Parameters": {
                "task_name": "ComputeDiscoveryDate",
                "workflow_name": "refresh_references",
                "nova_id.$": "$.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id"
            },
            "ResultPath": "$.discovery",
            "TimeoutSeconds": 20,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError",
                        "Lambda.TooManyRequestsException",
                        "Lambda.ServiceException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 2,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "UpsertDiscoveryDateMetadata"
        },
        "UpsertDiscoveryDateMetadata": {
            "Type": "Task",
            "Comment": "Write discovery_date to Nova item only if strictly earlier than current value (monotonically earlier invariant, ADR-005 §4). No-op if unchanged or no date computed.",
            "Resource": "${ReferenceManagerFunctionArn}",
            "Parameters": {
                "task_name": "UpsertDiscoveryDateMetadata",
                "workflow_name": "refresh_references",
                "nova_id.$": "$.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "earliest_bibcode.$": "$.discovery.earliest_bibcode",
                "earliest_publication_date.$": "$.discovery.earliest_publication_date"
            },
            "ResultPath": "$.discovery_upsert",
            "TimeoutSeconds": 20,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError",
                        "Lambda.TooManyRequestsException",
                        "Lambda.ServiceException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "FinalizeJobRunSuccess"
        },
        "FinalizeJobRunSuccess": {
            "Type": "Task",
            "Resource": "${FinalizeJobRunSuccessFunctionArn}",
            "Parameters": {
                "task_name": "FinalizeJobRunSuccess",
                "workflow_name": "refresh_references",
                "outcome": "SUCCEEDED",
                "nova_id.$": "$.nova_id",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "job_run.$": "$.job_run"
            },
            "ResultPath": "$.finalize",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError",
                        "Lambda.TooManyRequestsException",
                        "Lambda.ServiceException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "TerminalFailHandler",
                    "ResultPath": "$.error"
                }
            ],
            "End": true
        },
        "TerminalFailHandler": {
            "Type": "Task",
            "Comment": "Classifies the error and persists error_classification + error_fingerprint onto the JobRun before the final FAILED status is written. Implemented as a task in job_run_manager (task_name: TerminalFailHandler).",
            "Resource": "${JobRunManagerFunctionArn}",
            "Parameters": {
                "task_name": "TerminalFailHandler",
                "workflow_name": "refresh_references",
                "error.$": "$.error",
                "correlation_id.$": "$.job_run.correlation_id",
                "job_run_id.$": "$.job_run.job_run_id",
                "job_run.$": "$.job_run"
            },
            "ResultPath": "$.terminal_fail",
            "TimeoutSeconds": 10,
            "Retry": [
                {
                    "ErrorEquals": [
                        "RetryableError",
                        "Lambda.TooManyRequestsException",
                        "Lambda.ServiceException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 4,
                    "JitterStrategy": "FULL"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FinalizeJobRunFailed",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "FinalizeJobRunFailed"
        },
        "FinalizeJobRunFailed": {
            "Type": "Task",
            "Resource": "${FinalizeJobRunFailedFunctionArn}",
            "Parameters": {
                "task_name": "FinalizeJobRunFailed",
                "workflow_name": "refresh_references",
                "error.$": "$.error",
                "job_run.$": "$.job_run"
            },
            "ResultPath": "$.finalize",
            "TimeoutSeconds": 10,
            "End": true
        }
    }
}
